body, html {
    margin: 0;
    padding: 0;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    gap: 2.5rem;
    grid-template-areas:
    "elevate elevate elevate elevate elevate elevate"
    "project1 project1 project1 project2 project2 project2"
}
.portfolio_item.elevate {
    grid-area: elevate;
}
.elevate .portfolio_item-image img {
    width: 100%;  /* Adjust according to your preference */
    height: auto; /* To maintain the aspect ratio */
}

.portfolio_item:nth-child(2) {
    grid-area: project1;
}
.portfolio_item:nth-child(3) {
    grid-area: project2;
}


.portfolio_item {
    background: var(--color-light);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition)

}

.portfolio_item:hover{
    border-color: var(--color-primary);
    background: transparent;
}


.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_item-image img{
    width: 100%;
    height: auto;
}



.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}




.portfolio_item-cta{
    gap: 1rem;
    display: flex;
    margin-bottom: 1rem;
}



@media screen and (max-width: 1366px) {
    .portfolio_container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "elevate elevate elevate elevate"
        "project1 project1 project2 project2";
        gap: 1.2rem;

    }
}

/* small devices */
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "elevate"
        "project1"
        "project2";
        gap: 1rem;
    }

}